[submodule "GPT"]
	path = GPT
	url = git@github.com:bigict/GPT.git
	branch = main
[submodule "BERT"]
	path = BERT
	url = git@github.com:bigict/BERT.git
	branch = main
[submodule "EVE"]
	path = EVE
	url = git@github.com:OATML-Markslab/EVE.git
	branch = main
